@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,800&family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --blackgris: #424242;
    --gris: #736F6F;
    --white: #ffffff;
    --yellow: #FBC02D;
    --orange: #FF5722;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('./images/Home\ \(1\).png');
    background-size: 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    font-family: "Poppins";
}

.hero{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    margin-left: 20px;
    font-size: 2rem;
    background-image: linear-gradient(to right,var(--orange), var(--white), var(--yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

.hero-title div {
    background: rgb(255, 255, 255);
    height: 50px;
    width: 4px;
}

.download {
    margin-top: 20px;
    margin-right: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background: var(--orange);
    font-size: 1rem;
    font-weight: bold;
}

.container {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 8%;
}

.iam {
    color: var(--orange);
    font-size: 4rem;
}

.name {
    color: var(--white);
    font-size: 4rem;
}

.social-media {
    color: var(--white);
}

.my-title {
    color: #736F6F;
    font-size: 2rem;
    font-weight: 700;
}

.social-media .uil{
    font-size: 3rem;
    color: var(--white);
}

a:hover {
    color: white;
    cursor: pointer;
}

.image-side {
    position: relative; 
    width: 300px;
    height: 400px;

}

.footer {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: var(--gris);

}

.footer div {
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
    padding: 30px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer div:hover {
    background: var(--orange);
}

.footer div i {
    text-decoration: none;
    color: var(--white);
    font-size: 3rem;
    z-index: 1;
    position: relative;
    top: 10%;
}

.footer div a {
    text-decoration: none;
    color: var(--white);
    margin: 0;
    padding: 0;
    font-size: 2rem;
    position: relative;
    bottom: 20%;
}

.footer1 {
    background: var(--orange);
}

.footer2 {
    background: var(--gris);
}

.footer3 {
    background: var(--yellow);
}

.footer4 {
    background: var(--gris);
}

.orange-triangle {
    width: 100px;
    height: 100px;
    background: var(--orange);
    transform: rotate(45deg);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 100px solid var(--orange);
    z-index: 2;
}

.yelow-triangle {
    position: absolute;
    
    left: 0;
    bottom: 0;
    width: 105px;
    height: 147px;
    background: var(--yellow);
    z-index: 2;
  }

.bigyelow-triangle{
    width: 172px;
    height: 326px;
    background: var(--yellow);
    position: absolute;
    top: -100px;
    right: -30px;
    z-index: 0;
}

.image-side img {
    position: relative;
    width: 20rem;
    border-radius: 50%;
    z-index: 1;
}

.footer4 , .footer3 , .footer2, .footer1 {
    background: none;
}

/*PROJECT CSS*/
.bigContainerproject {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

.bigContainerproject .uil {
    font-size: 6rem;
    color: var(--white);
} 

.projectCOntainer {
    width: 65%;
    height: 550px;
    background: var(--gris);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    /* flex-direction: row; */
}

.projectCOntainer div.img {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 500px;

  }

.projectdescription {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
}  

.projectdescription h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 10px;
  color: var(--white);
}

.projectdescription p {
    padding: 30px;
    font-size: 1.3rem;
    color: var(--white);

}

button.view {
    position: absolute;
    margin-left: 30px;
    bottom: 30%;
}

.hidden-card {
    display: none;
}


/* Contact Page */




@media (max-width: 900px) {
    body {
        background-color: var(--blackgris);
        height: 100vh;
    }

    .container {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    }

    .download {
        font-size: 0.5rem;
        text-align: center;
        width: 80px;
        height: 30px;
        margin-top: 5px;
      }
      

    .hero-title {
        font-size: 1rem;
        margin-left: 20px;
    }

    .iam, .name{
        font-size: 1.1rem;
    }

    .my-title{
        font-size: 0.8rem;
    }



    .hero {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .image-side {
        width: 100px;
        height: 180px;
        position: absolute;
        top: 280%;
        right: 20%;

    }

    .orange-triangle {
        width: 10px;
        height: 20px;
        background: var(--orange);
        border-top: 50px solid transparent;
        border-right: 50px solid var(--orange);
        top: -10px;
        left: -10px;
    }
    .bigyelow-triangle{
        width: 80px;
        height: 130px;
        top: -10px;
        right: -80px;
    }


    .yelow-triangle {
        width: 50px;
        height: 90px;
        left: -20px;
    }

    .image-side img {
        width: 10rem;
    }

    .projectCOntainer {
        display: flex;
        flex-direction: column;
    }

    button.view{
        position: relative;
    }

    .hidden-card {
        display: none;
    }
    
    .footer {
        width: 100%;
        /* height: 120px; */
        /* top: -650px; */
        bottom: 0;
        background: var(--gris);
    }

    .footer div i{
        font-size: 1.7rem;
    }

    .footer4 , .footer3 , .footer2, .footer1 {
        background: none;
    }

    .footer div a {
        font-size: 1rem;
    }

    .social-media {
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 0.2em;
    }

    .bigContainerproject .uil{
        font-size: 3em;
        margin-top: -100px;
    }

    .projectdescription h1{
        font-size: 1.3em;
        padding-left: 0px;
    }

    .projectdescription p {
        font-size: 0.5em;
        padding-left: 2px;
        margin-top: 0px;
    }

    .projectCOntainer {
        height: 400px;
        margin-top: -100px;
    }

    button.view {
        bottom: 10%;
    }
}
  